.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.seeThrough {
  opacity: 0.9;
}

.seeThroughWorkouts {
  opacity: 0.7;
}

.socialMedia-icon {
  width: 80%;
  height: auto;
}

.greyHighlight {
  background-color: grey;
}

.paddingBottom {
  margin-top: 55px;
  margin-bottom: 15px;
}

.fitting {
  overflow-y: auto;
}

.bodyProjectImg {
  width: 70%;
  height: auto;
}

.workoutImgs {
  width: 70%;
  height: auto;
}

.circlePic {
  border-radius: 50%;
}

.workoutScreen {
  min-height: 100vh;
}

.customWorkoutImg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.proteinImg {
  width: 90%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 15px;
}

.activeImg {
  width: 75%;
  height: auto;
}

.alcoholImg {
  width: 70%;
  height: auto;
}

.foodImg {
  width: 90%;
  height: auto;
}

.adviceImg {
  width: 70%;
  height: auto;
}

.meAdviceImg {
  width: 75%;
  height: auto;
}

.cheatMeal {
  width: 75%;
  height: auto;
}

.sleepImg {
  width: 85%;
  height: auto;
}

.coachName {
  text-decoration: underline;
}

.youtubeVid {
  margin-top: -65px;
}

.bannerHeight {
  max-height: 200px !important;
  height: 100%;
}

.workoutMarginUpImgs {
  margin-top: -45px;
}

@media only screen and (max-width: 600px) {
  .bodyProjectImg {
    width: 70%;
    height: auto;
    margin-top: 55px;
    margin-bottom: 15px;
  }

  .adviceImg {
    width: 50%;
    height: auto;
    margin-top: 55px;
    margin-bottom: 15px;
  }

  .carousel {
    margin-top: -50px !important;
    padding: 0px !important;
  }

  .paddingBottom {
    margin-top: 35px;
    margin-bottom: 15px;
  }

  .fitText {
    font-size: 0.4em;
  }

  .proteinImg {
    width: 60%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .activeImg {
    width: 60%;
    height: auto;
  }

  .alcoholImg {
    width: 50%;
    height: auto;
  }

  .foodImg {
    width: 65%;
    height: auto;
  }

  .cheatMeal {
    width: 60%;
    height: auto;
  }

  .sleepImg {
    width: 60%;
    height: auto;
  }

  .paddingBottom {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .marginUp {
    margin-top: -25px;
  }

  .workoutImgs {
    width: 70%;
    height: auto;
  }

  .workoutMarginUpImgs {
    margin-top: 0px;
  }

  .parallax-container {
    max-height: 280px;
  }
}
